<style>
 .icon-navbar {
   width: 75px;
   height: 75px;
 }
 .icon-navbar-mini {
   width: 40px;
   height: 40px;
 }
 .navbar {
   border-bottom: 5px solid #330000;
   background-color: #cc0000;
 }
 .container-flex[role=main]{
    background-color: #990000;
 }
 .container[role=list] {
    background-color: #ccc    
 }
</style>

<!-- Image and text -->
<nav class="navbar">
  <div>
    <a href="#" class="navbar-brand rounded-circle d-inline-block align-top bg-info icon-navbar border"></a>
    <a href="#" class="navbar-brand rounded-circle d-inline-block align-top bg-danger icon-navbar-mini border border-dark mx-2"></a>
    <a href="#" class="navbar-brand rounded-circle d-inline-block align-top bg-warning icon-navbar-mini border border-dark mx-0"></a>
    <a href="#" class="navbar-brand rounded-circle d-inline-block align-top bg-success icon-navbar-mini border border-dark mx-2"></a>
  </div>
</nav>

<div class="container-flex py-4" role="main">

  <app-pokemon-listagem></app-pokemon-listagem>


</div>

<router-outlet></router-outlet>